In [1]:
from sdmetrics.demos import load_demo
from sdmetrics.reports.single_table import QualityReport
real_data, synthetic_data, metadata = load_demo(modality='single_table')
report = QualityReport()
report.generate(real_data, synthetic_data, metadata, verbose=True)

Overall Quality Score: 80.5%

Properties:
- Column Shapes: 82.0%
- Column Pair Trends: 79.0%

In [4]:
from sdmetrics.reports.single_table._properties.column_shapes import ColumnShapes
from sdmetrics.demos import load_demo
import pandas as pd
from sdmetrics.reports.single_table import QualityReport

# Setup
real_data, synthetic_data, metadata = load_demo('single_table')
column_shape_property = ColumnShapes()
quality_report = QualityReport()
quality_report.generate(real_data, synthetic_data, metadata)
details_quality_report = quality_report.get_details(property_name='Column Shapes')
details_quality_report = details_quality_report.rename(columns={'Quality Score': 'Score'})

# Run
column_shape_property.get_score(real_data, synthetic_data, metadata)

# Assert
details_column_shape = column_shape_property._details
details_column_shape = details_column_shape.sort_values('Score').reset_index(drop=True)
details_quality_report = details_quality_report.sort_values('Score').reset_index(drop=True)

pd.testing.assert_frame_equal(
    details_column_shape, details_quality_report
)

Creating report: 100%|██████████| 4/4 [00:00<00:00, 22.31it/s]

Overall Quality Score: 81.44%

Properties:
Column Shapes: 81.56%
Column Pair Trends: 81.33%

In [3]:
real_data

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.0,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.5,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.0,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.0,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.8,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,17474,M,80.60,82.00,Commerce,77.60,Comm&Mgmt,False,0,91.0,Mkt&Fin,74.49,40000.0,True,2020-07-27,2020-10-20,3.0
211,17475,M,58.00,60.00,Science,72.00,Sci&Tech,False,0,74.0,Mkt&Fin,53.62,27500.0,True,2020-01-23,2020-08-04,6.0
212,17476,M,67.00,67.00,Commerce,73.00,Comm&Mgmt,True,1,59.0,Mkt&Fin,69.72,29500.0,True,2020-01-25,2020-08-05,6.0
213,17477,F,74.00,66.00,Commerce,58.00,Comm&Mgmt,False,0,70.0,Mkt&HR,60.23,20400.0,True,2020-01-19,2020-04-20,3.0
214,17478,M,62.00,58.00,Science,53.00,Comm&Mgmt,False,0,89.0,Mkt&HR,60.22,NaN,False,NaT,NaT,NaN

In [9]:
from sdmetrics.reports.single_table._properties import ColumnPairTrends
from sdmetrics.demos import load_demo
column_names = ['student_id', 'degree_type', 'gender', 'high_spec', 'work_experience']
real_data, synthetic_data, metadata = load_demo(modality='single_table')

metadata['columns'] = {
    key: val for key, val in metadata['columns'].items() if key in column_names
}

# Run
column_shape_property = ColumnPairTrends()
score = column_shape_property.get_score(real_data, synthetic_data, metadata)

In [16]:
score

0.881

In [15]:
list(column_shape_property._details['Score'])

[0.8883720930232558,
 0.9023255813953488,
 0.7767441860465116,
 0.9348837209302325,
 0.8883720930232558,
 0.8976744186046511]